@keyframes shake {
  0% {
    transform: translateX(max(-5%, -5px));
  }
  50% {
    transform: translateX(min(5%, 5px));
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes click-ring {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}