:root {
  /** CSS **/
}

/* DARK & LIGHT THEME: */
.os-theme-dark,
.os-theme-light {
  box-sizing: border-box;
  --os-size: 10px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 10px;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 10px;
}

.os-theme-dark {
  --os-handle-bg: #002b5e0d;
  --os-handle-bg-hover: #2e2e2e33;
  --os-handle-bg-active: #08080833;
}

.os-theme-light {
  --os-handle-bg: rgba(100, 255, 255, 0.44);
  --os-handle-bg-hover: rgba(72, 52, 52, 0.55);
  --os-handle-bg-active: rgba(255, 255, 255, 0.66);
}
