:root {
  /* content colors */
  --content-primary: #1b242c;
  --content-inverted: #ffffff;
  --content-secondary: #7e8b99;
  --content-inverted-muted: #91aecb;

  /* background colors */
  --background-neutral: #002b5e0d;
  --background-dimmer: #2e2e2e33;
  --background-screen: #ffffff;
  --background-muted: rgba(31, 82, 158, 0.02);
  --background-inverted: #171e24;

  /* interactive colors */
  --interactive-primary: #634eca;
  --interactive-primary-hover: #4e38bc;
  --interactive-primary-muted: color-mix(
    in srgb,
    var(--interactive-primary) 10%,
    transparent
  );
  --interactive-secondary: #04294421;
  --interactive-secondary-hover: #10305433;

  /* radiuses */
  --radius-tiny: 4px;
  --radius-small: 8px;
  --radius-medium: 10px;
  --radius-large: 24px;
  --radius-full: 9999px;

  /* shadows */
  --shadow-elevation: 0px 2px 8px -1px rgba(27, 36, 44, 0.08),
    0px 2px 2px -1px rgba(27, 36, 44, 0.04);
  --shadow-focus: 0px 0px 0px 2px rgba(87, 63, 207, 0.2);

  /* borders */
  --border-muted: rgba(16, 40, 72, 0.09);
  --border-default: rgba(15, 16, 19, 0.08);
  --border-hover: var(--interactive-secondary-hover);
  --border-focus: var(--interactive-primary);
  --border-error: var(--semantic-background-error);

  --box-shadow-focus: 0 0 0 2px
    color-mix(in srgb, var(--interactive-primary) 20%, transparent);
  --box-shadow-error: 0 0 0 2px
    color-mix(in srgb, var(--semantic-background-error) 20%, transparent);

  /* semantic colors  */
  /* neutral regular */
  --semantic-color-neutral: #ffffff;
  --semantic-background-neutral: #1830488f;
  /* neutral muted */
  --semantic-color-neutral-muted: #1b242c;
  --semantic-background-neutral-muted: #10284817;

  /* informative regular */
  --semantic-color-informative: #ffffff;
  --semantic-background-informative: #3062d4;
  /* informative muted */
  --semantic-color-informative-muted: #3062d4;
  --semantic-background-informative-muted: #3062d429;

  /* positive regular */
  --semantic-color-positive: #ffffff;
  --semantic-background-positive: #1d7c4d;
  /* positive muted */
  --semantic-color-positive-muted: #1d7c4d;
  --semantic-background-positive-muted: #1d7c4d29;

  /* warning regular */
  --semantic-color-warning: #222222;
  --semantic-background-warning: #f59638;
  /* warning muted */
  --semantic-color-warning-muted: #f59638;
  --semantic-background-warning-muted: #f5963829;

  /* error regular */
  --semantic-color-error: #ffffff;
  --semantic-background-error: #c53434;
  --semantic-background-error-hover: #952d2d;
  /* error muted */
  --semantic-color-error-muted: #c53434;
  --semantic-background-error-muted: #c5343429;

  /* NON SEMANTIC COLORS VARS */
  --non-semantic-color-red: #c53434;
  --non-semantic-color-red-soft: rgba(197, 52, 52, 0.16);

  --non-semantic-color-raspberry: #c03060;
  --non-semantic-color-raspberry-soft: rgba(192, 48, 96, 0.16);

  --non-semantic-color-magenta: rgba(177, 47, 134, 1);
  --non-semantic-color-magenta-soft: rgba(228, 98, 141, 0.16);

  --non-semantic-color-purple: #9939ac;
  --non-semantic-color-purple-soft: rgba(153, 57, 172, 0.16);

  --non-semantic-color-grape: #8040bf;
  --non-semantic-color-grape-soft: rgba(128, 64, 191, 0.16);

  --non-semantic-color-violet: #634eca;
  --non-semantic-color-violet-soft: rgba(99, 78, 202, 0.16);

  --non-semantic-color-blue: #3062d4;
  --non-semantic-color-blue-soft: rgba(48, 98, 212, 0.16);

  --non-semantic-color-cyan: #0870ba;
  --non-semantic-color-cyan-soft: rgba(8, 112, 186, 0.16);

  --non-semantic-color-teal: #0870ba;
  --non-semantic-color-teal-soft: rgba(8, 112, 186, 0.16);

  --non-semantic-color-aquamarine: #097c69;
  --non-semantic-color-aquamarine-soft: rgba(9, 124, 105, 0.16);

  --non-semantic-color-green: #1d7c4d;
  --non-semantic-color-green-soft: rgba(29, 124, 77, 0.16);

  --non-semantic-color-emerald: #347434;
  --non-semantic-color-emerald-soft: rgba(52, 116, 52, 0.16);

  --non-semantic-color-orange: #f59638;
  --non-semantic-color-orange-soft: rgba(245, 150, 56, 0.16);
}
