:root {
  /* neutral regular */
  --semantic-color-neutral: #ffffff;
  --semantic-background-neutral: #1830488f;
  /* neutral muted */
  --semantic-color-neutral-muted: #1b242c;
  --semantic-background-neutral-muted: #10284817;

  /* informative regular */
  --semantic-color-informative: #ffffff;
  --semantic-background-informative: #3062d4;
  /* informative muted */
  --semantic-color-informative-muted: #3062d4;
  --semantic-background-informative-muted: #3062d429;

  /* positive regular */
  --semantic-color-positive: #ffffff;
  --semantic-background-positive: #1d7c4d;
  /* positive muted */
  --semantic-color-positive-muted: #1d7c4d;
  --semantic-background-positive-muted: #1d7c4d29;

  /* warning regular */
  --semantic-color-warning: #222222;
  --semantic-background-warning: #f59638;
  /* warning muted */
  --semantic-color-warning-muted: #f59638;
  --semantic-background-warning-muted: #f5963829;

  /* error regular */
  --semantic-color-error: #ffffff;
  --semantic-background-error: #c53434;
  /* error muted */
  --semantic-color-error-muted: #c53434;
  --semantic-background-error-muted: #c5343429;
}

/* TODO add even more colors from figma */

[data-theme="dark"] {
  /* TODO add dark mode colors  */
}
