:root {
  /* content colors */
  --content-primary: #1b242c;
  --content-inverted: #ffffff;
  --content-secondary: #7e8b99;

  /* background colors */
  --background-neutral: #002b5e0d;
  --background-dimmer: #2e2e2e33;
  --background-screen: #ffffff;
  --background-muted: rgba(31, 82, 158, 0.02);
  --background-inverted: #171e24;

  /* interactive colors */
  --interactive-primary: #634eca;
  --interactive-primary-hover: #4e38bc;
  --interactive-secondary: #04294421;
  --interactive-secondary-hover: #10305433;

  /* sentiment colors */
  --sentiment-negative: #c53434;
  --sentiment-negative-hover: #952d2d;

  /* radiuses */
  --radius-tiny: 4px;
  --radius-small: 8px;
  --radius-medium: 10px;
  --radius-large: 24px;

  /* shadows */
  --shadow-elevation: 0px 2px 8px -1px rgba(27, 36, 44, 0.08),
    0px 2px 2px -1px rgba(27, 36, 44, 0.04);
  --shadow-focus: 0px 0px 0px 2px rgba(87, 63, 207, 0.2);

  /* borders */
  --border-muted: rgba(16, 40, 72, 0.09);
  --border-default: #e9ecef;
  --border-focus: #634eca;
}

[data-theme="dark"] {
  /* TODO add dark mode colors  */
}
