:root {
  /* content colors */
  --content-primary: #1b242c;
  --content-inverted: #ffffff;
  --content-secondary: #7e8b99;
  --content-inverted-muted: #91aecb;

  /* background colors */
  --background-neutral: #002b5e0d;
  --background-dimmer: #2e2e2e33;
  --background-screen: #ffffff;
  --background-muted: rgba(31, 82, 158, 0.02);
  --background-inverted: #171e24;

  /* interactive colors */
  --interactive-primary: #634eca;
  --interactive-primary-hover: #4e38bc;
  --interactive-secondary: #04294421;
  --interactive-secondary-hover: #10305433;

  /* sentiment colors */
  --sentiment-negative: #c53434;
  --sentiment-negative-hover: #952d2d;

  /* radiuses */
  --radius-tiny: 4px;
  --radius-small: 8px;
  --radius-medium: 10px;
  --radius-large: 24px;

  /* shadows */
  --shadow-elevation: 0px 2px 8px -1px rgba(27, 36, 44, 0.08),
    0px 2px 2px -1px rgba(27, 36, 44, 0.04);
  --shadow-focus: 0px 0px 0px 2px rgba(87, 63, 207, 0.2);

  /* borders */
  --border-muted: rgba(16, 40, 72, 0.09);
  --border-default: #e9ecef;
  --border-focus: #634eca;

  /* semantic colors  */
  /* neutral regular */
  --semantic-color-neutral: #ffffff;
  --semantic-background-neutral: #1830488f;
  /* neutral muted */
  --semantic-color-neutral-muted: #1b242c;
  --semantic-background-neutral-muted: #10284817;

  /* informative regular */
  --semantic-color-informative: #ffffff;
  --semantic-background-informative: #3062d4;
  /* informative muted */
  --semantic-color-informative-muted: #3062d4;
  --semantic-background-informative-muted: #3062d429;

  /* positive regular */
  --semantic-color-positive: #ffffff;
  --semantic-background-positive: #1d7c4d;
  /* positive muted */
  --semantic-color-positive-muted: #1d7c4d;
  --semantic-background-positive-muted: #1d7c4d29;

  /* warning regular */
  --semantic-color-warning: #222222;
  --semantic-background-warning: #f59638;
  /* warning muted */
  --semantic-color-warning-muted: #f59638;
  --semantic-background-warning-muted: #f5963829;

  /* error regular */
  --semantic-color-error: #ffffff;
  --semantic-background-error: #c53434;
  /* error muted */
  --semantic-color-error-muted: #c53434;
  --semantic-background-error-muted: #c5343429;
}

[data-theme='dark'] {
  /* TODO add dark mode colors  */
}
